@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Euclid Circular A";
  src: url("../../fonts/EuclidCircularA-Semibold-WebS.woff2") format("woff2"),
    url("../../fonts/EuclidCircularA-Semibold-WebS.woff") format("woff");
}
