.is-center {
  text-align: center;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-80 {
  margin-bottom: 80px;

  @include tablet {
    margin-bottom: 20px;
  }
}

.mb-100 {
  margin-bottom: 100px;

  @include tablet {
    margin-bottom: 50px;
  }
}
