h1,
h2,
h3,
h4 {
  margin: 0 0 20px;
  font-family: $font-euclid;
}

h1 {
  font-size: 67px;

  @include tablet {
    font-size: 48px;
  }

  @include mobile {
    font-size: 38px;
  }
}

h2 {
  margin-bottom: 15px;
  font-size: 54px;

  @include tablet {
    font-size: 42px;
  }

  @include mobile {
    font-size: 38px;
  }
}

h3 {
  font-size: 46px;
  line-height: 1.021739;

  @include tablet {
    font-size: 38px;
  }
}

h4 {
  margin-bottom: 27px;
  font-size: 44px;
  line-height: 1.2;

  @include tablet {
    font-size: 38px;
  }
}

h5 {
  margin: 0 0 25px;
  font-size: 16px;
  color: $c-orange-ff;
  font-weight: 600;
  font-family: $font-base;

  @include mobile {
    font-size: 13px;
  }
}

h6 {
  margin: 0 0 5px;
  font-size: 12px;
  font-weight: 400;
}

p {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 1.4;
  color: $base-color-62;

  @include tablet {
    font-size: 16px;
    line-height: 1.3;
  }
}
