$font-base: "Inter";
$font-euclid: "Euclid Circular A";

$base-color-62: #62676c;

$c-orange-ff: #ff5c00;
$c-grey-F9: #f9fafc;
$c-grey-99: #999;
$c-grey-57: #575c61;
$c-black-14: #141d31;
$c-black-31: #313336;
$c-black-59: #595e63;
$c-black-15: #151515;
$c-black-3D: #3d4044;
$c-teal-AE: #aeecff;
