.article {
  max-width: 871px;
  margin: 0 auto;

  .article__top-text {
    margin-bottom: 36px;
    font-size: 18px;
    font-weight: 700;
    font-family: $font-base;

    @include mobile {
      margin-bottom: 25px;
      font-size: 13px;
    }
  }

  .article__head {
    margin-bottom: 23px;
    text-align: center;

    @include mobile {
      margin-bottom: 60px;
    }

    p {
      max-width: 635px;
      margin: 0 auto;
      font-size: 19px;
      line-height: 1.368421;

      @include mobile {
        font-size: 15px;
        line-height: 1.4;
      }
    }
  }

  .article__title {
    font-size: 79px;

    @include mobile {
      font-size: 44px;
    }
  }

  .article__author {
    margin: 0 0 58px;

    @include mobile {
      margin-bottom: 35px;
    }

    img {
      border-radius: 50%;
    }

    p {
      margin: 0;
      font-size: 12px;
      font-weight: 500;

      time {
        color: $c-black-14;
        opacity: 0.4;
      }
    }
  }

  .article__image {
    margin-bottom: 60px;

    @include mobile {
      margin-bottom: 50px;
    }
  }

  .article__content {
    h2 {
      margin-bottom: 50px;

      @include mobile {
        margin-bottom: 30px;
      }
    }

    h5 {
      font-size: 24px;
      line-height: 1.4;
      color: $c-black-3D;

      @include mobile {
        font-size: 19px;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }

    p {
      @include mobile {
        line-height: 1.4;
      }
      a {
        color: $c-orange-ff;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
