.box-holder {
  .box-holder__inner {
    padding: 66px 100px 26px;
    background-color: $c-grey-F9;
    border-radius: 49px;

    @include tablet {
      padding: 30px;
    }
  }

  &--tighter {
    .box-holder__inner {
      padding: 73px 80px 26px;

      @include tablet {
        padding: 50px 30px;
      }
    }
  }
}
