.btn {
  display: inline-block;
  position: relative;
  border-radius: 999px;
  text-decoration: none;
  transition: all 0.7s;
  overflow: hidden;
  padding: 19px 51px;
  font-size: 17px;
  font-weight: 700;

  @include tablet {
    font-size: 15px;
  }

  &.is-small {
    padding: 14px 27px;
    font-size: 14px;
    font-weight: 700;
  }

  .btn__inner {
    position: relative;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    width: 400px;
    height: 300px;
    background-color: transparent;
    border-radius: 100%;
    transition: all 0.7s;
    transform: translate(-100%, -100%);
  }

  &:hover {
    &:before {
      transform: translate(-25%, -25%);
    }
  }

  &--color-white {
    background-color: #fff;
    box-shadow: 0px 2.65042px 5.30083px rgba(174, 189, 217, 0.07),
      0px 6.1843px 21.2033px rgba(65, 71, 79, 0.08);
    color: $c-orange-ff;

    &:before {
      background-color: $c-orange-ff;
    }

    &:hover {
      color: #fff;
    }
  }

  &--color-orange {
    background-color: $c-orange-ff;
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.12);
    color: #fff;

    &:before {
      background-color: #fff;
    }

    &:hover {
      color: $c-orange-ff;
      box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.12), inset 0 0 1px 2px #fff;
    }
  }

  &--color-black {
    background-color: #000;
    color: #fff;

    &:before {
      background-color: #fff;
    }

    &:hover {
      color: #000;
      box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.12), inset 0 0 1px 2px #fff;
    }
  }
}
