.card {
  padding: 32px 28px 17px;
  border-radius: 33px;

  .card__image {
    position: relative;
    padding-bottom: 95%;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 30px;
  }
}
