.comparison {
  padding: 80px 58px 50px 35px;
  margin: 100px 0;
  background: $c-grey-F9 url("/compare-right.svg") no-repeat right 0;
  border-radius: 43px;

  @include mobile {
    padding: 30px 20px;
    margin: 30px 0 50px;
    background-size: 152px 113px;
    background-position: right 20px;
  }

  .comparison__head {
    margin-bottom: 40px;

    @include mobile {
      padding: 0 30% 0 0;
    }
  }

  .comparison__title {
    margin-bottom: 14px;
    font-size: 37px;
    color: $c-black-3D;
    font-family: $font-euclid;

    @include mobile {
      margin-bottom: 22px;
      font-size: 26px;
    }
  }

  p {
    font-size: 16px;
    color: $base-color-62;

    @include mobile {
      font-size: 14px;
    }
  }

  .comparison__table {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: #fff;
    box-shadow: 0px 2.65042px 5.30083px rgba(174, 189, 217, 0.07),
      0px 6.1843px 21.2033px rgba(65, 71, 79, 0.08);
    border-radius: 15px;
  }

  .comparison__table-col {
    & + .comparison__table-col {
      border-left: 1px solid rgba(#010101, 0.05);
    }

    &:nth-child(1) {
      .comparison__table-head {
        padding-left: 44px;
        justify-content: flex-start;
        color: $c-grey-57;
        opacity: 0.4;
        font-weight: 700;
        border-bottom: 1px solid rgba(#010101, 0.05);

        @include mobile {
          padding-left: 16px;
        }
      }

      .comparison__table-item {
        padding-left: 44px;
        justify-content: flex-start;

        @include mobile {
          padding-left: 16px;
        }
      }
    }
  }

  .comparison__table-head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    border-bottom: 3px solid $c-orange-ff;
    font-size: 14px;

    @include mobile {
      height: 52px;
      font-size: 9px;
    }

    strong {
      color: $c-black-3D;
      font-weight: 600;
    }
  }

  .comparison__table-item {
    display: flex;
    height: 62px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(#010101, 0.05);
    font-size: 14px;
    font-weight: 500;

    @include mobile {
      height: 52px;
      font-size: 9px;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  .comparison-icon {
    @include mobile {
      transform: scale(0.7);
    }
  }
}
