.flex-row {
  display: flex;

  &--between {
    justify-content: space-between;
  }

  &--center {
    justify-content: center;
  }

  &--align-center {
    align-items: center;
  }

  &--mobile-block {
    @include mobile {
      display: block;
    }
  }

  .flex-col {
    &--order {
      order: -1;
    }

    &--grid-1 {
      flex-basis: 8.333333%;
    }

    &--grid-2 {
      flex-basis: 16.66%;
    }

    &--grid-3 {
      flex-basis: 25%;
    }

    &--grid-4 {
      flex-basis: 33.333%;
    }

    &--grid-5 {
      flex-basis: 41.65%;
    }

    &--grid-6 {
      flex-basis: 50%;
    }

    &--grid-7 {
      flex-basis: 58.31%;
    }

    &--grid-8 {
      flex-basis: 66.666%;
    }

    &--grid-9 {
      flex-basis: 74.97%;
    }

    &--grid-10 {
      flex-basis: 83.33%;
    }

    &--grid-11 {
      flex-basis: 91.63%;
    }

    &--grid-12 {
      flex-basis: 100%;
    }

    &--grow {
      flex-grow: 1;
    }
  }
}
