.footer {
  padding: 65px 0;
  background-color: $c-teal-AE;

  @include tablet {
    padding: 40px 0 20px;
  }

  @include mobile {
    padding: 55px 0 20px;
  }

  h3 {
    margin-bottom: 30px;
  }

  h5 {
    @include mobile {
      font-size: 14px;
    }
  }

  .btn {
    width: 212px;
    padding: 19px 0;
  }

  .footer__top {
    margin: 0 0 75px;

    @include mobile {
      margin-bottom: 65px;
    }
  }

  .footer__bottom {
    p {
      font-size: 13px;
      opacity: 0.5;

      a {
        color: $c-black-15;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
