.grid-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  margin-bottom: 43px;

  @include mobile {
    margin-bottom: 25px;
  }

  &.is-last {
    @include mobile {
      margin-bottom: 0;
    }
  }

  .grid-text__item {
    &--rows-2 {
      grid-row: 1 / 3;

      @include mobile {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
      }
    }

    &--order-2 {
      grid-column: 2 / 3;
    }

    &.mb-full {
      @include mobile {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
      }
    }

    h4 {
      @include mobile {
        font-size: 23px;
      }
    }
  }
}
