.header {
  position: absolute;
  top: 43px;
  left: 0;
  width: 100%;
  z-index: 2;

  @include mobile {
    top: 25px;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 56px;
    background-color: $c-grey-F9;
    border-radius: 49px;

    @include small-desktop {
      padding: 16px;
    }
  }
}
