.intro {
  &.is-first {
    .intro__inner {
      padding-top: 40px;
    }
  }

  .intro__inner {
    padding-left: 115px;
    padding-right: 115px;
    background-color: $c-grey-F9;
    border-radius: 0 0 30px 30px;

    @include small-desktop {
      padding-left: 30px;
      padding-right: 0;
    }
  }

  .intro__content {
    padding: 20px 0;
  }

  h1 {
    margin: 0 0 20px;
  }
}
