.logos {
  padding: 64px 0 75px;
  text-align: center;

  @include tablet {
    padding: 50px 0;
  }

  small {
    display: block;
    margin: 0 0 30px;
    font-size: 14px;
    color: $c-grey-99;
  }

  .logos__inner {
    display: flex;
    justify-content: space-between;
    max-width: 986px;
    margin: 0 auto;

    @include mobile {
      flex-wrap: wrap;
    }

    img {
      opacity: 0.4;
    }

    .logos_image {
      @include mobile {
        margin-bottom: 10px;
        max-width: 48%;
      }
    }
  }
}
