.logo {
  @include mobile {
    max-width: 123px;
  }

  svg {
    @include mobile {
      max-width: 100%;
      height: auto;
    }

    .logo__square {
      transition: transform 0.3s;
    }
  }
  a:hover {
    svg {
      .logo__square {
        transform: translateX(3px);
      }
    }
  }
}
