.nav {
  @include tablet {
    display: none;
  }

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  li {
    padding: 0 25px;
  }

  a {
    display: inline-block;
    padding: 5px 0;
    color: $base-color-62;
    transition: color 0.5s;
    text-decoration: none;

    .nav__char:not(.is-empty) {
      display: inline-block;
    }

    &:hover {
      text-decoration: none;
      color: $c-orange-ff;

      .nav__char {
        animation: moveChar 0.3s linear;
      }
    }
  }
}

@keyframes moveChar {
  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}
