.partners-box {
  flex: 1 1 214px;
  padding: 26px 19px 20px;
  background-color: #fff;
  box-shadow: 0px 3px 7px rgba(174, 189, 217, 0.07),
    0px 4px 13px rgba(130, 145, 152, 0.08), 0px 2px 2px rgba(65, 71, 79, 0.08);
  border-radius: 18px;

  @include tablet {
    flex: 0 0 calc(50% - 45px);
    max-width: calc(50% - 45px);
    margin-bottom: 15px;
  }

  @include mobile {
    max-width: 100%;

    &:nth-child(n + 3) {
      display: none;
    }
  }

  .partners-box__image {
    margin-bottom: 30px;
    border-radius: 14px;
    overflow: hidden;
  }

  .partners-box__title {
    margin-bottom: 10px;
    font-size: 19px;
    line-height: 1.2;
    font-weight: 600;
    cursor: $c-black-31;
  }

  .partners-box__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
  }

  .partners-box__more {
    display: inline-flex;
    width: 94px;
    height: 39px;
    justify-content: center;
    align-items: center;
    background-color: $c-grey-F9;
    font-size: 12px;
    color: $c-orange-ff;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s;

    &:hover {
      color: #fff;
      background-color: $c-orange-ff;
    }
  }
}
