.partners {
  padding-bottom: 50px;

  @include tablet {
    padding-bottom: 20px;
  }

  .partners__inner {
    display: flex;
    justify-content: center;
    gap: 16px;

    @include tablet {
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0;
    }

    @include mobile {
      display: block;
    }
  }

  h4 {
    margin-bottom: 60px;

    @include tablet {
      margin: 0 0 30px;
    }
  }
}
