.phone {
  position: relative;
  padding: 70px 0 0;
  overflow: hidden;

  &--center {
    max-width: 510px;
    margin: 0 auto;
    text-align: center;
  }

  &--scale {
    transform: scale(0.85);
    transform-origin: center bottom;
    margin-top: -80px;

    @include mobile {
      margin-top: -151px;
      transform: scale(0.7);
    }
  }

  .phone__frame {
    position: relative;
    display: inline-block;
    z-index: 2;
    transform: translateY(100%);
    transition: transform 0.6s 0.3s;
    margin-right: -30px;
    max-width: 80%;

    svg {
      max-width: 100%;
      height: auto;
    }
  }

  .card {
    position: absolute;
    width: 48%;
    left: 47%;
    top: 24%;
    transform: translateX(-50%) scale(0);
    box-shadow: 0px 2.43808px 4.87616px rgba(174, 189, 217, 0.07),
      0px 3.25077px 18.6919px rgba(130, 145, 152, 0.19),
      0px 5.68885px 19.5046px rgba(65, 71, 79, 0.08);
    transition: all 0.3s 1.1s;
    padding: 8%;

    .card__heart {
      transition: all 0.5s 1.6s;
      opacity: 0;
      transform: scale(0) translateY(5px);
    }

    .skeleton-text {
      opacity: 0.13;
      max-width: 0;
      transform: translateY(5px);

      &:nth-child(1) {
        transition: all 0.4s 2s;
      }

      &:nth-child(2) {
        transition: all 0.4s 2.1s;
      }
    }
  }

  .phone__bg {
    position: absolute;
    left: 50%;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s 0.6s;
    transform: translateX(-50%);
    width: 100%;

    svg {
      max-width: 100%;
      height: auto;
      transform: rotate(-5deg) scale(0.9);
      transition: transform 2s 0.6s;
    }
  }
}

.aos-animate {
  .phone {
    .phone__frame {
      transform: translateY(0);
    }

    .card {
      transform: translateX(-50%) scale(1);

      .card__heart {
        transform: scale(1) translateY(0);
        opacity: 1;
      }

      .skeleton-text {
        max-width: 100%;
        transform: translateY(0);
      }
    }

    .phone__bg {
      opacity: 1;

      svg {
        transform: rotate(0) scale(1);
      }
    }
  }
}
