.reviews {
  padding: 137px 0 90px;

  @include mobile {
    padding: 55px 15px 40px;
  }

  h4 {
    text-align: center;

    @include mobile {
      margin-bottom: 20px;
      font-size: 38px;
    }
  }

  .reviews__stars {
    display: flex;
    gap: 4px;

    @include mobile {
      justify-content: center;
      margin-bottom: 10px;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      border-radius: 5px;
      background-color: $c-orange-ff;
    }
  }

  .reviews__head {
    margin: 0 0 30px;

    @include mobile {
      margin-bottom: 10px;
      text-align: center;
    }

    p {
      font-size: 15px;
      margin: 0;
    }
  }

  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
  }

  .embla__cta {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 20px 0;

    button {
      position: relative;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      background-color: $c-grey-F9;
      border: 0;
      cursor: pointer;
      transition: all 0.3s;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 12px;
        border-left: 3px solid $c-black-59;
        border-top: 3px solid $c-black-59;
        transform-origin: center center;
      }

      &:hover {
        transform: scale(1.1);
      }

      &.prev {
        &:before {
          transform: rotate(-45deg) translate(7%, -65%);
        }
      }

      &.next {
        &:before {
          transform: rotate(135deg) translate(5%, 75%);
        }
      }
    }
  }
}
