.reviews-box {
  position: relative;
  flex: 0 0 368px;
  width: 368px;
  padding: 28px 9px;

  @include mobile {
    width: 310px;
    flex: 0 0 310px;
  }

  .reviews-box__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 197px;
    padding: 30px 20px 20px;
    background-color: #fff;
    box-shadow: 0px 2.65042px 5.30083px rgba(174, 189, 217, 0.07),
      0px 3.53389px 20.3199px rgba(130, 145, 152, 0.19);
    border-radius: 27px;

    @include mobile {
      padding: 20px 15px 10px;
      min-height: 167px;
    }
  }

  .reviews-box__text {
    padding: 0 20px;

    p {
      font-size: 16px;
      line-height: 1.375;

      @include mobile {
        font-size: 13px;
      }
    }
  }

  small {
    font-size: 12px;
    color: $c-black-31;
    opacity: 0.5;
  }
}
