.text-section {
  margin: 0 0 90px;

  @include tablet {
    margin: 0 0 60px;
  }

  h3 {
    margin: 0 0 20px;
  }

  p {
    margin-bottom: 40px;

    @include mobile {
      font-size: 15px;
    }

    br {
      @include mobile {
        display: none;
      }
    }
  }
}
